body {
		background: white ;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
		
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
			
		}

::-webkit-input-placeholder {
   color: #c0c0c0;
   font-style: italic;
	font-size: 20px
}
		
		
		#voidbutton {
			 position: relative;
			 bottom: -50px;
    	     left: 10px;
		}
			
			
		h1 {
			padding-top: 200px;
			padding-bottom: 30px;
			text-align:center;
		}

	div.everything {
		font-family: Allerta;
	}

	.submitter:hover {
		background-color: #72bb53;
		border-color: #72bb53;
	}
		
		
		div.box1 {
			background-color: white;
			text-align: center;
			font-family: "Roboto",;
			margin-bottom: 20px;
		}

		div.box2 {
			height:100px;
			color: #f7f6f6;
			background: #fec63d;
			width: 500px;
			text-align: center;
			margin-left: 255px;
			margin-top: 0px;
			height: auto;
			border-radius: .2em;
			padding-top: 0px;
			margin-right: 0px;
			-webkit-box-shadow: 9px 9px 9px -5px rgba(204,204,204,1);
-moz-box-shadow: 9px 9px 9px -5px rgba(204,204,204,1);
box-shadow: 9px 9px 9px -5px rgba(204,204,204,1);
			
			
		}

		div.box3 {
			height:100px;
			width: 510px;
			text-align: left;
			margin-left: 255px;
			margin-top: 50px;
			height: auto;
			
		}

		div.box4 {
			height:100px;
			width: 510px;
			text-align: left;
			margin-left: 255px;
			margin-top: 50px;
			height: auto;
		}

		div.box5 {
			height:100px;
			width: 510px;
			text-align: left;
			margin-left: 255px;
			margin-top: 50px;
			height: auto;
		}
			

		.DNN {
			position: absolute;
			align-content: right;
			padding: 25px;
			padding-top: 10px;
			font-size: 24px;
		}

		.subtext {
			position: absolute;
			align-content: right;
			margin-top: 30px;
			margin-left: 70px;
			padding: 15px;
			font-size: 15px;
		}
			

		.btn2 {
			color: #f7f6f6;
			background: #fec63d;
			width: 296px;
			font-size: 20px;
			text-align: center;
			margin-left: 245px;
			margin-top: 0px;
			padding-top: 0px;
			padding: 0;
			border: none;
			background: none;
			
		}

		.btn2:hover {
			color: grey;
		}

	
	
		
		
		
		input, button{outline: none;}

		.inputWithButton{
			display:inline-block;
			overflow:hidden;
			width:1000px;
			font-size: 24px;
			color: #f7f6f6;
			
			
			
			border-radius: 1px;
		}

		.inputWithButton > *{
			vertical-align:top;
			border:0;
			margin-right: -10px;
			margin-bottom: 10px;
			padding: 30px;
			padding-bottom: 30px;
			-webkit-box-shadow: 9px 9px 9px -5px rgba(204,204,204,1);
-moz-box-shadow: 9px 9px 9px -5px rgba(204,204,204,1);
box-shadow: 9px 9px 9px -5px rgba(204,204,204,1);
			
			
		}
		.inputWithButton > input[type=text]{
			width:`00px;
			background: #3d8af7;
			border-bottom-left-radius: .2em;
			border-top-left-radius: .2em;
			border:none;
			
			
			
			
		}
		.inputWithButton > button{
			border-left:none;
			background:#92d36e;
			border-top-right-radius: .2em;
			border-bottom-right-radius: .2em;
			
			cursor:pointer;
		
			
		}


		.inputWithButton > button::-moz-focus-inner {
			border: 0;
			
		}

		
